body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 24px 250px;
    margin: 0;
}

.headerBar {
    display:flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight:700;
}

.links {
    font-size: 18px;
}

ul {
    list-style: none;
    display:flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.main-header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 86px 0;
}

.left-header {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secHero {
    font-size: 18px;
    color: #E5E7EB;
}

.signBtn {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0;
    padding: 10px;
    width: 100px;
    margin: 10px 0;
    border-radius: 10px;
}

.right-header {
    display: flex;
    align-items: center;
}

.placeholder {
    width: 500px;
    max-width: 100%;
    height: auto;
}
