body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 24px 200px;
    margin: 0;
}

.headerBar {
    display:flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight:700;
}

.links {
    font-size: 18px;
}

ul {
    list-style: none;
    display:flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.main-header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 100px 0;
}

.left-header {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secHero {
    font-size: 18px;
    color: #E5E7EB;
}

.signBtn {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0;
    padding: 10px;
    width: 150px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}

.right-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 100px 100px;
    background-color: rgb(121, 129, 133);
    margin: 16px;
    flex-wrap: wrap;
}

.upper-body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 24px 200px;
    padding-bottom: 100px;
    background-color: white;
}

.info-label {
    display: flex;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 15px;
    justify-content: center;
}

.info-container {
    display:flex;
    justify-content: center;
    gap: 52px;
    padding: 35px;
}

.info-box {
    text-align: center;
    max-width: 175px;
}

.placeholder-box {
    border: 5px solid #3882F6;
    box-sizing: border-box;
    width: 175px;
    height: 175px;
    border-radius: 15px;
}